@font-face {
    font-family: 'OpenDyslexic';
    src: url('opendyslexicmono-regular-webfont.woff2') format('woff2'),
         url('opendyslexicmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenDyslexic';
    font-size: 25px;
	font-align: left;
    color: black;
	transition-timing-function: ease;
	max-width: 500px;
}

#bubble
{
	position: fixed;
	bottom: 0;
	opacity: 0; 
	transition-timing-function: ease-in;
	transition-timing-function: ease-out;
	transition: 0.2s;
}

#chat
{
	max-width: 500px;
	overflow: hidden;
	position: relative;
	bottom: 35px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	background-size: cover;
	box-sizing: border-box;
}

#triangle
{
	position: fixed;
	bottom: 0px;
	width: 60px;
}

#update
{
	position: fixed;
	bottom: 0px;
	background-color: white;
	z-index: 3;
}

img
{
	margin: 0px 3px 0px 0px;
}