@font-face {
    font-family: 'OpenDyslexic';
    src: url('opendyslexicmono-regular-webfont.woff2') format('woff2'),
         url('opendyslexicmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenDyslexic';
    font-size: 25px;
	text-align: left;
    color: black;
	transition-timing-function: ease;
}

img
{
	margin: 0px 3px 0px 0px;
}

#bubble
{
	position: fixed;
	bottom: 0;
	opacity: 0; 
	transition-timing-function: ease-in-out;
	transition: .5s;
}

#chat
{
	max-width: 98.5vw;
	max-height: 95vh;
	overflow: hidden;
	word-wrap: break-word;
	position: relative;
	bottom: 58px;
	left: 10px;
	padding: 20px;
	margin: 0px;
	color: black;
	background-color: white;
	border-radius: 10px;
	background-size: cover;
	box-sizing: border-box;
}

#triangle
{
	position: fixed;
	bottom: 0px;
	height: 58px;
}

#update
{
	position: fixed;
	max-width: 750px;
	bottom: 0px;
	right: 0px;
	background-color: white;
	z-index: -1;
}

.pronoun
{
	text-align: center;
	font-size: 15px;
	margin-bottom: .15rem;
	margin-right: .3rem;
	vertical-align: middle;
	padding: 2px;
	border-radius: 5px;
	color: black;
	border: 1px solid black;
}

@keyframes pop-out {
	20% { transform: scale(1.3); }
	to { opacity: 0; transform: scale(0); }
}

@keyframes pop-in {
	20% { transform: scale(1.3); }
	to { opacity: 0; transform: scale(0); }
}